$bbplus-image-path: "../img/";

$bbplus-base-font-size: 13;

$bbplus-usc-corporate-blue: #205080;
$bbplus-usc-bbplus-blue: #2374c6;
$bbplus-white: #fff;
$bbplus-black: #333;


/* General */
$bbplus-link-color: #205080;
$bbplus-heading-color: #32233e;
$bbplus-body-color: #151217;


/* Content Structure */
$bbplus-struct-bg-color: #f8f8f8;
$bbplus-declaration-color: #beced5;
$bbplus-declaration-text-color: #3a4347;


$bbplus-divider-line: #cccccc;

/* Content Layout  */
$bbplus-layout-bgcolor: #fff;
$bbplus-layout-body-color: #6c696f;

$bbplus-activity-color: #57a7da;
$bbplus-resource-color: #57b7da;


/* Table */
$bbplus-table-line: #ccc;

/* Panel */
$bbplus-info-panel-default-color: #f1f1f1;
$bbplus-info-panel-key-color: #91c76d;
$bbplus-info-panel-warning-color: #ea814d;
$bbplus-info-panel-tip-color: #e8cb68;


/* Bb System */
$bbplus-system-info-panel-default-color: #4290cc;
$bbplus-system-tooltip-default-color: #4290cc;
//
$bbplus-system-annotation-default-color: #4e4754;
$bbplus-system-annotation-structuring-color: #d35069;
$bbplus-system-annotation-engaging-color: #f7555d;

/* UNUSED FOR NOW */

$bbplus-base-color: #fff;
$bbplus-swatch-one: $bbplus-usc-bbplus-blue;
$bbplus-swatch-two: #ececec;
$bbplus-swatch-three: #1a1b1c;
$bbplus-swatch-four: #e53d27;
$bbplus-swatch-five: #596775;
$bbplus-swatch-six: $bbplus-usc-corporate-blue;
